@model VSAND.Data.ViewModels.StatAggregation.TeamLeaderboardResult;

@{
    ViewData["Title"] = $"{Model.Sport.Name} Team {Model.Category.Name} Stats - {Model.ScheduleYear.Name}";
    int curRank = 0;

    string basePath = ViewData["BasePath"].ToString() + "/stats/team";

    int prevPage = Model.CurrentPage - 1;
    int nextPage = Model.CurrentPage + 1;
    bool prevPageDisabled = false;
    string prevPageClass = "";
    bool nextPageDisabled = false;
    string nextPageClass = "";
    if (prevPage < 1)
    {
        prevPageDisabled = true;
        prevPageClass = "disabled";
    }
    if (nextPage > Model.TotalPages)
    {
        nextPageDisabled = true;
        nextPageClass = "disabled";
    }
}

<partial name="_sportHeader" model="@Model.Sport" />

<div class="marketing-block">
    <div id="BelowHeaderAd" data-load="ad" data-position="TopRail_Below"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <h2 class="card-header">@Model.Sport.Name Team @Model.Category.Name Stats - @Model.ScheduleYear.Name</h2>
                <div class="card-body">
                    <ul class="list-inline">
                        <li class="list-inline-item">Statistical Categories:</li>
                        @foreach (var cat in Model.Categories)
                        {
                            <li class="list-inline-item">
                                @if (cat.SportTeamStatCategoryId == Model.Category.SportTeamStatCategoryId)
                                {
                                    <strong>@cat.Name</strong>
                                }
                                else
                                {
                                    <a href="@basePath/@cat.SportTeamStatCategoryId">@cat.Name</a>
                                }
                            </li>
                        }
                    </ul>
                </div>
                <div class="card-body p-0">
                    <table class="table table-stats table-borderless table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Team</th>
                                <th>Games Played</th>
                                @foreach (var stat in Model.Stats)
                                {
                                    var sortedClass = (stat.SportTeamStatId == Model.OrderById) ? "sorted" : "";
                                    var sortedIcon = (stat.SportTeamStatId == Model.OrderById) ? (Model.OrderDir.Equals("DESC", StringComparison.OrdinalIgnoreCase) ? "fas fa-sort-down" : "fas fa-sort-up") : "";
                                    <th class="text-center @sortedClass">
                                        <a href="@basePath/@Model.Category.SportTeamStatCategoryId?syid=@Model.ScheduleYear.ScheduleYearId&statid=@stat.SportTeamStatId"
                                           data-toggle="tooltip" title="@stat.Name">
                                            @stat.DisplayName<i class="@sortedIcon"></i>
                                        </a>
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var team in Model.Teams)
                            {
                                <tr>
                                    <td>
                                        @if (team.Rank != curRank)
                                        {
                                            @team.Rank
                                        }
                                        else
                                        {
                                            <text>&nbsp;</text>
                                        }
                                        @{
                                            curRank = team.Rank;
                                        }
                                    </td>
                                    <td>
                                        @team.Name (@team.Record.Format())
                                    </td>
                                    <td>@team.GamesPlayed</td>
                                    @foreach (var stat in Model.Stats)
                                    {
                                        var sortedClass = (stat.SportTeamStatId == Model.OrderById) ? "sorted" : "";                                        
                                        <td class="text-center @sortedClass">
                                            @if (team.StatValues.ContainsKey(@stat.SportTeamStatId))
                                            {
                                                @team.StatValues[@stat.SportTeamStatId]
                                            }
                                            else
                                            {
                                                <text>-</text>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <nav aria-label="Player Stats Navigation">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <span class="page-link">@Model.TotalResults.ToString("N0") Results</span>
                            </li>
                            <li class="page-item @prevPageClass">
                                @if (!prevPageDisabled)
                                {
                                    <a class="page-link" href="@basePath/@Model.Category.SportTeamStatCategoryId?syid=@Model.ScheduleYear.ScheduleYearId&statid=@Model.OrderById&dir=@Model.OrderDir.Substring(0,1).ToLower()&pg=@prevPage" tabindex="-1"><i class="far fa fa-chevron-left"></i></a>
                                }
                                else
                                {
                                    <span class="page-link"><i class="far fa fa-chevron-left"></i></span>
                                }
                            </li>
                            <li class="page-item disabled">
                                <span class="page-link">@Model.CurrentPage of @Model.TotalPages.ToString("N0")</span>
                            </li>
                            <li class="page-item @nextPageClass">
                                @if (!nextPageDisabled)
                                {
                                    <a class="page-link" href="@basePath/@Model.Category.SportTeamStatCategoryId?syid=@Model.ScheduleYear.ScheduleYearId&statid=@Model.OrderById&dir=@Model.OrderDir.Substring(0,1).ToLower()&pg=@nextPage" tabindex="-1"><i class="far fa fa-chevron-right"></i></a>
                                }
                                else
                                {
                                    <span class="page-link"><i class="far fa fa-chevron-right"></i></span>
                                }
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="marketing-block">
    <div id="AboveFooter" data-load="ad" data-position="InFeed_Center_Wide"></div>
</div>

