@model VSAND.Data.Entities.VsandCounty

@{
    ViewData["Title"] = "Counties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-title txt-color-blueDark">
    <i class="fa fa-wrench fa-fw"></i>
    Manage
    <span>
        <i class="fa fa-chevron-right fa-fw"></i>
        @ViewData["Title"]
    </span>
</h1>

<div id="vueApp" v-cloak>
    <div class="row">
        <div class="col-md-7">
            <widget-wrapper icon="table" title="County List" v-bind:padding="false">
                <table-grid grid-id="counties"
                            v-bind:col-info="rowColInfo"
                            v-bind:all-data="sortedCounties"
                            data-key-name="countyId"
                            title-property="name"
                            v-bind:enable-edit="true"
                            v-bind:enable-delete="true"
                            v-on:change="saveEditCounty"
                            v-on:delete="deleteCounty"></table-grid>
            </widget-wrapper>
        </div>
        <div class="col-md-5">
            <widget-wrapper icon="plus" title="Add County">
                <input-field input-id="addCountyName"
                             v-bind:default-value="addCountyForm.name"
                             label="@Html.DisplayNameFor(model => model.Name)"
                             v-bind:required="true"
                             v-bind:max-length="50"
                             v-on:input="addCountyForm.name = $event"></input-field>
                <input-field input-id="addCountyAbbreviation"
                             v-bind:default-value="addCountyForm.countyAbbr"
                             label="@Html.DisplayNameFor(model => model.CountyAbbr)"
                             v-bind:required="true"
                             v-bind:max-length="2"
                             v-on:input="addCountyForm.countyAbbr = $event"></input-field>
                <input-field input-id="addCountyPubAbbreviation"
                             label="@Html.DisplayNameFor(model => model.State)"
                             v-bind:default-value="addCountyForm.state"
                             v-bind:required="true"
                             v-bind:max-length="2"
                             v-on:input="addCountyForm.state = $event"></input-field>
                <template v-slot:footer>
                    <button class="btn btn-primary btn-lg" v-on:click="createCounty">Add County</button>
                </template>
            </widget-wrapper>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Configuration for table-grid Vue component -->
    <col-info asp-for="@Model" columns="Name,CountyAbbr,State"></col-info>

    <environment include="Development">
        <script src="~/app/manage-counties.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/app//manage-counties.min.js" asp-append-version="true"></script>
    </environment>
}