@model VSAND.Data.Entities.VsandTeam

@{
    ViewData["Title"] = "Custom Codes";
    Layout = "_teamLayout.cshtml";
    var refObj = Model.CustomCodes.FirstOrDefault();
}

<div id="vueApp" v-cloak>
    <p>List of custom information for the team.</p>
    <div class="row">
        <div class="col-md-8">
            <table-grid grid-id="customCodes"
                        v-bind:col-info="rowColInfo"
                        v-bind:all-data="sortedCustomCodes"
                        data-key-name="customCodeId"
                        title-property="codeName"
                        v-bind:enable-edit="true"
                        v-bind:enable-delete="true"
                        v-on:change="saveEditCustomCode"
                        v-on:delete="deleteCustomCode"></table-grid>
        </div>
        <div class="col-md-4">
            <widget-wrapper icon="plus" title="Add Custom Code" header-class="bg-faded">
                <input-field input-id="addCustomCodeName"
                             v-bind:default-value="addCustomCodeForm.codeName"
                             label="@Html.DisplayNameFor(model => model.CustomCodes.FirstOrDefault().CodeName)"
                             v-bind:required="true"
                             v-bind:max-length="50"
                             v-on:input="addCustomCodeForm.codeName = $event"></input-field>

                <input-field input-id="addCustomCodeName"
                             v-bind:default-value="addCustomCodeForm.codeValue"
                             label="@Html.DisplayNameFor(model => model.CustomCodes.FirstOrDefault().CodeValue)"
                             v-bind:required="true"
                             v-bind:max-length="50"
                             v-on:input="addCustomCodeForm.codeValue = $event"></input-field>
                <template v-slot:footer>
                    <button class="btn btn-primary" v-on:click="createCustomCode">Add Custom Code</button>
                </template>
            </widget-wrapper>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Configuration for table-grid Vue component -->
    <col-info asp-for="@refObj" columns="CodeName,CodeValue"></col-info>

    <script>
        window.team = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        window.customCodes = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["CustomCodes"]));
    </script>

    <environment include="Development">
        <script src="~/app/team-custom-codes.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/app/team-custom-codes.min.js" asp-append-version="true"></script>
    </environment>
}