@model VSAND.Data.Repositories.PagedResult<VSAND.Data.ViewModels.PlayerSummary>

@{
    ViewData["Title"] = "Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ await Html.RenderPartialAsync("_headerPartial"); }

<div id="vueApp" v-cloak>
    <p class="text-right">
        @ViewData["PagedResultMessage"]
    </p>
    <widget-wrapper icon="table" title="Players"
                    v-bind:padding="false"
                    v-bind:page-size="@Model.PageSize"
                    v-bind:current-page="@Model.PageNumber"
                    v-bind:total-records="@Model.TotalResults"
                    v-on:gotopage="gotopage">
        <template v-slot:toolbar>
            <button class="btn btn-default btn-sm rounded-pill mr-1 shadow-0 waves-effect waves-themed"
                    v-on:click.prevent="showSearchForm = !showSearchForm">
                <i class="fal fa-filter"></i> Filter
            </button>
            <button class="btn btn-default btn-sm rounded-pill mr-1 shadow-0 waves-effect waves-themed"
                    v-on:click.prevent="mode = 'create'">
                <i class="fal fa-pencil"></i> Add Player
            </button>
        </template>
        <template v-slot:bodytoolbar>
            <div v-if="showSearchForm" class="hidden-print">
                <div class="row">
                    <div class="col">
                        <input-field input-id="searchFirstName"
                                     v-bind:default-value="searchFirstName"
                                     label="First Name"
                                     v-bind:max-length="50"
                                     v-on:input="searchFirstName = $event"></input-field>
                    </div>
                    <div class="col">
                        <input-field input-id="searchLastName"
                                     v-bind:default-value="searchLastName"
                                     label="Last Name"
                                     v-bind:max-length="50"
                                     v-on:input="searchLastName = $event"></input-field>
                    </div>
                    <div class="col">
                        <label>Graduation Year</label>
                        <graduationyear-list v-bind:default-value="searchGraduationYear"
                                             v-on:change="searchGraduationYear = $event"></graduationyear-list>
                    </div>
                    <div class="col">
                        <school-autocomplete v-bind:default-value="searchSchool"
                                             v-bind:value.sync="searchSchool"></school-autocomplete>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <button class="btn btn-primary btn-block" v-on:click.prevent="doSearch">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <div v-if="mode === 'view'" class="table-responsive">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Graduation Year</th>
                        <th>School</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oPlayer in Model.Results)
                    {
                        <text>
                            <tr>
                                <td>@oPlayer.LastName</td>
                                <td>@oPlayer.FirstName</td>
                                <td>@oPlayer.GraduationYear</td>
                                <td>@oPlayer.SchoolName</td>
                                <td>
                                    <a href="/Players/@(oPlayer.PlayerId)" class="hidden-print">
                                        <span class="fal fa-search d-sm-none"></span>
                                        <span class="d-none d-sm-inline">View Details</span>
                                    </a>
                                </td>
                            </tr>
                        </text>
                    }
                </tbody>
            </table>
        </div>

        <div v-if="mode === 'create'" class="row p-4">
            <div class="col-md-6">
                <h3>Add Player</h3>

                <input-field label="First Name"
                             v-bind:required="true"
                             v-bind:default-value="addPlayerForm.firstName"
                             v-on:input="addPlayerForm.firstName = $event"></input-field>

                <input-field label="Last Name"
                             v-bind:required="true"
                             v-bind:default-value="addPlayerForm.lastName"
                             v-on:input="addPlayerForm.lastName = $event"></input-field>

                <label>Graduation Year</label>
                <graduationyear-list v-bind:default-value="addPlayerForm.graduationYear"
                                     v-on:change="addPlayerForm.graduationYear = $event"></graduationyear-list>

                <school-autocomplete v-bind:default-value.sync="addPlayerForm.schoolId"
                                     v-on:update:value="addPlayerForm.schoolId = $event.id"></school-autocomplete>

                <input-field label="Height"
                             v-bind:default-value="addPlayerForm.height"
                             v-on:input="addPlayerForm.height = $event"></input-field>

                <input-field label="Weight"
                             v-bind:default-value="addPlayerForm.weight"
                             v-on:input="addPlayerForm.weight = $event"></input-field>

                <input-field label="Birth Date"
                             v-bind:default-value="addPlayerForm.birthDate"
                             v-on:input="addPlayerForm.birthDate = $event"></input-field>

                <button class="btn btn-default" v-on:click="mode = 'view'">Cancel</button>
                <button class="btn btn-primary" v-on:click="createPlayer">Save</button>
            </div>
        </div>
    </widget-wrapper>
</div>

@section Scripts {
    <script type="text/javascript">
        window.searchFirstName = '@Html.Raw(ViewData["SearchFirstName"])';
        window.searchLastName = '@Html.Raw(ViewData["SearchLastName"])';
        window.searchGraduationYear = @Html.Raw(ViewData["SearchGraduationYear"]);
        window.searchSchool = @Html.Raw(ViewData["SearchSchool"]);
    </script>
    <environment include="Development">
        <script src="~/app/players-dashboard.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/app/players-dashboard.min.js" asp-append-version="true"></script>
    </environment>
}
