@model VSAND.Data.Repositories.PagedResult<VSAND.Data.ViewModels.GameReportSummary>;

@{
    ViewData["Title"] = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-title txt-color-blueDark">
    <i class="fa fa-flag-checkered fa-fw"></i>
    Games
</h1>

<div id="vueApp" v-cloak>
    <widget-wrapper icon="table" title="Games" 
                    v-bind:padding="false" 
                    v-bind:page-size="searchObject.pageSize" 
                    v-bind:current-page="searchObject.pageNumber" 
                    v-bind:total-records="@Model.TotalResults"
                    v-on:gotopage="gotopage">
        <template v-slot:toolbar>
            <button class="btn btn-default btn-sm rounded-pill mr-1 shadow-0 waves-effect waves-themed"
                    v-on:click.prevent="showSearchForm = !showSearchForm">
                <i class="fal fa-filter"></i> Filter
            </button>
        </template>
        <template v-slot:bodytoolbar>
            <div v-if="showSearchForm" class="hidden-print">
                <game-search v-bind:search-request="searchObject"></game-search>
            </div>
        </template>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Sport</th>
                        <th>Detail</th>
                        <th>Final</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oGame in Model.Results)
                    {
                        <text>
                            <tr>
                                <td>@oGame.GameDate.ToString("MM/dd/yyyy %h:mmtt").ToLower()</td>
                                <td>@oGame.SportName</td>
                                <td>@oGame.Name</td>
                                <td>@((oGame.HasFinalScore) ? "Yes" : "-")</td>
   
                                   <td>
   
                                       <a asp-controller="Game"
                                       asp-route-id="@oGame.GameReportId" class="hidden-print">
                                        <span class="fal fa-search d-sm-none"></span>
                                        <span class="d-none d-sm-inline">View Details</span>
                                    </a>
                                </td>
                            </tr>
                        </text>
                    }
                </tbody>
            </table>
        </div>
    </widget-wrapper>
</div>

@section Scripts {
    <script type="text/javascript">
        window.searchRequest = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["SearchRequest"]));
    </script>
    <environment include="Development">
        <script src="~/app/games-dashboard.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/app/games-dashboard.min.js" asp-append-version="true"></script>
    </environment>
}
