@model VSAND.Data.ViewModels.GameReport.GameReport

@{
    var homeTeam = Model.Teams.FirstOrDefault(t => t.HomeTeam);
    var awayTeam = Model.Teams.FirstOrDefault(t => !t.HomeTeam);
    bool lowScoreWins = Model.Sport.EnableLowScoreWins;
    var winningTeam = Model.Teams.OrderByDescending(t => t.FinalScore).FirstOrDefault();
    if (lowScoreWins)
    {
        winningTeam = Model.Teams.OrderBy(t => t.FinalScore).FirstOrDefault();
    }
    bool tieResult = Model.Teams.Select(t => t.FinalScore).Distinct().Count() < 2;
    string awayWinClass = (Model.Final && winningTeam.TeamId == awayTeam.TeamId) ? "away-win" : "";
    string homeWinClass = (Model.Final && winningTeam.TeamId == homeTeam.TeamId) ? "home-win" : "";
    string tieClass = (Model.Final && tieResult) ? "tie-result" : "";

    string basePath = "/" + Model.Sport.Slug;
}

<div class="appsecondarynav sport-header mb-0 border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="d-flex align-items-center sport-brand">
                    <strong class="sport-name">@Model.Sport.Name</strong>
                </div>
            </div>
            <div class="col sport-nav">
                <nav class="navbar navbar-expand-md">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@basePath">Home</a>
                        </li>
                    </ul>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#sportNavBarDropdown" aria-controls="sportNavBarDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        More <i class="far fa fa-chevron-down expander"></i><i class="far fa fa-chevron-up collapser"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="sportNavBarDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="@basePath/schedule">Scores &amp; Schedules</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@basePath/standings">Standings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@basePath/rankings">Rankings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@basePath/stats">Stats</a>
                            </li>
                            @if (Model.Sport.EnablePowerPoints)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@basePath/powerpoints">Power Points</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" href="@basePath/brackets">Brackets</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="appsecondarynav game-header">
    <div class="container">
        <div class="row d-md-none">
            <div class="col-6">
                <div class="team-name">@awayTeam.Name</div>
            </div>
            <div class="col-6 text-right">
                <div class="team-name">@homeTeam.Name</div>
            </div>
        </div>
        <div class="row d-md-none">
            <div class="col final-score">
                <span class="@awayWinClass">@awayTeam.FinalScore</span>
            </div>
            <div class="col-auto">
                @if (Model.Final)
                {
                    <text>FINAL</text>
                }
                else
                {
                    if (Model.GameDate.Date == DateTime.Now.Date)
                    {
                        // Game is today
                        <text>@Model.GameDate.ToString("%h:mm t")</text>
                    }
                    else
                    {
                        <text>@Model.GameDate.ToString("MM/dd") @@ @Model.GameDate.ToString("%h:mm t")</text>
                    }
                }
            </div>
            <div class="col final-score text-right">
                <span class="@homeWinClass">@homeTeam.FinalScore</span>
            </div>
        </div>

        <div class="row d-none d-md-flex align-items-center ">
            <div class="col-auto">
                <img src="https://placehold.it/100x100" />
            </div>
            <div class="col away-team">
                <div class="team-name">@awayTeam.Name</div>
                <div>13-12 &bull; 4-17</div>
            </div>
            @if (Model.Final)
            {
                <div class="col-auto final-score">
                    <span class="@awayWinClass">@awayTeam.FinalScore</span>
                </div>
            }

            <div class="col-auto game-time-result">
                @if (Model.Final)
                {
                    <text>FINAL</text>
                }
                else
                {
                    if (Model.GameDate.Subtract(DateTime.Now).Days == 0)
                    {
                        // Game is today
                        <text>@Model.GameDate.ToString("%h:mm t")</text>
                    }
                    else
                    {
                        <text>@Model.GameDate.ToString("MM/dd") @@ @Model.GameDate.ToString("%h:mm t")</text>
                    }
                }
            </div>
            @if (Model.Final)
            {
                <div class="col-auto final-score">
                    <span class="@homeWinClass">@homeTeam.FinalScore</span>
                </div>
            }
            <div class="col home-team">
                <div class="team-name">@homeTeam.Name</div>
                <div>13-12 &bull; 4-17</div>
            </div>
            <div class="col-auto text-right">
                <img src="https://placehold.it/100x100" />
            </div>
        </div>
    </div>
</div>